                        <li class="left clearfix"><span class="chat-img pull-left">
                            <%= link_to image_tag(message.sender.profile_image.url,:class=>"img-responsive img-circle"),:id=>message.sender.url_token, :controller => (message.sender.get_user_type=="Agent") ? :agents : :clients, :action => :show %>  

                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font"><%=message.sender.first_name + " " + message.sender.last_name%></strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span><%=message.created_at.localtime%> mins ago</small>
                                </div>
                                <br>
                                <div id="messagecontent">
                                    <p>
                                        <%=message.content%>
                                    </p>
                                </div>
                            </div>
                        </li>