<footer class="footer">
      <div class="container">
<ul class="list-inline">
<li><button id="footer_feedback" type="button" class="btn btn-info"  data-toggle="modal" data-target="#ContactUsModal"><%=t('common.feedback.contactus')%></button></li>
<li><div class=" social social_link">
<a href="#"><i class="fa fa-lg fa-facebook"></i></a>
</div></li>
<li><div class=" social social_link">
<a href="#"><i class="fa fa-lg fa-twitter"></i></a>
</div></li>
<li><div class=" social social_link">
<a href="#"><i class="fa fa-lg fa-google-plus"></i></a>
</div></li>

</ul><!--list-->
        <div id="footer_details">
Germany (Listeni/ˈdʒɜːrməni/; German: Deutschland pronounced [ˈdɔʏtʃlant]), officially the Federal Republic of Germany or FRG (German: Bundesrepublik Deutschland, About this sound listen (help·info)),[e][6] is a federal parliamentary republic in West-Central Europe. It includes 16 constituent states, covers an area of 357,021 square kilometres (137,847 sq mi), and has a largely temperate seasonal climate. Its capital and largest city is Berlin. With about 81.5 million inhabitants, Germany is the most populous member state of the European Union. After the United States, it is the second most popular migration destination in the world.[7]

Various Germanic tribes have occupied the northern parts of current Germany since classical antiquity. A region named Germania was documented before 100 AD. During the Migration Period the Germanic tribes expanded southward. Beginning in the 10th century, German territories formed a central part of the Holy Roman Empire.[8] During the 16th century, northern German regions became the centre of the Protestant Reformation. Following the Franco-Prussian War most of the German states unified in 1871 into the Prussian-dominated German Empire, after World War I and the German Revolution of 1918–1919, the Empire was replaced by the parliamentary Weimar Republic. The establishment of the national socialist dictatorship in 1933 led to World War II and systematic genocide. After a period of Allied occupation, two German states were founded: the Federal Republic of Germany and the German Democratic Republic. In 1990, the country was reunified.[9]


        </div><!--footer details-->
      </div>
</footer>
