<div id="loadmorebtn" class="text-center">
	
<a class="load_more_btn  btn btn-default" id="load_more_link" data-remote="true" data-method="get" href="<%= urlpath %>" ><%=t('common.loadmore')%></a>

<%# link_to "Load More", "poop", {:remote=> true, :method => "get", :class => "load_more_btn  btn btn-default", :id => "load_more_link"} %>
</div>