# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 28728eebce54b6e64bf53ca8310608db3e5fe8c1c05d5dd76cd0b2a1fed9ca45d7baa75c094cf9df6293071b28b0fe61b98ac552cbab12b8f6869c43a2bedc12
  admin_user: admin
  admin_password: pwd

test:
  secret_key_base: 28728eebce54b6e64bf53ca8310608db3e5fe8c1c05d5dd76cd0b2a1fed9ca45d7baa75c094cf9df6293071b28b0fe61b98ac552cbab12b8f6869c43a2bedc12

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  admin_user: <%= ENV['admin_user'] %>
  admin_password: <%= ENV['admin_pwd'] %>